@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: rgb(52, 6, 6);
  --secondary-color: rgb(97, 0, 0);
  --primary-color-t: rgba(52, 6, 6, .7);
  --primary-color-tt: rgba(52, 6, 6, .2);
  --secondary-color-t: rgba(97, 0, 0, .5);
  --text-color: rgb(255, 149, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  background-color: rgb(27, 3, 3);
}

ul {
  list-style: none;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
  color: var(--text-color);
}

p {
  margin: 10px 0;
  color: #fff;
}

img {
  width: 100%;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

.header {
  background-color: var(--primary-color);
}

.header .container {
  height: 400px;
  overflow: hidden;
  padding: 0;
}

.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 80px;
  border-bottom: rgb(255, 87, 0) 1px solid;
  width: 100%;
}

.navbar ul {
  margin-left: 50px;
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px white solid;
}

.title {
  font-size: 45px;
  font-weight: bold;
  color: var(--text-color);
}

.main .card,
.gallery-main .card,
.contact .card {
  background-color: black;
}

.main .container {
  padding: 20px 60px;
}

.main b {
  color: var(--text-color);
}

.intro {
  grid-column: 1 / span 3;
}

.delivery {
  display: flex;
}

.delivery a {
  margin: 1px;
  padding: 2px;
}

.menu-nav .container {
  max-width: 600px;
  text-align: center;
  color: var(--text-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu-nav .card,
.menu .card {
  background-color: black;
}

.menu-nav i {
  color: var(--text-color);
  font-size: 15px;
}

.jump-links-nav {
  color: var(--text-color);
  font-size: 25px;
  margin: 0 10px;
  line-height: 1.6;
}

.jump-links-nav:hover {
  border-bottom: 1px white solid;
}

.menu .flex {
  flex-direction: column;
}

.menu .card {
  text-align: center;
  max-width: 700px;
}

.menu-items {
  line-height: 1;
}

.menu-items .flex {
  flex-direction: row;
  justify-content: space-between;
}

.fill {
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
}

.location-nav .container {
  text-align: center;
  color: var(--text-color);
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.location-nav .card {
  background-color: black;
}

.locations-main .container {
  width: 100%;
  padding: 0;
}

.locations-main .grid {
  grid-template-columns: 70% 30%;
  align-items: flex-start;
}

.locations-main .grid>*:first-child {
  grid-column: 1 / span 2;
}

.locations-main .card {
  background-color: black;
}

.contact .grid {
  grid-template-columns: 60% 40%;
  align-items: flex-start;
}

.contact-form input[type='text'],
.contact-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.contact .container {
  margin-top: 20px;
  width: 100%;
  max-width: 1300px;
}

.contact .container .grid>*:first-child {
  grid-column: 1 / span 2;
  text-align: center;
}

.contact .card {
  padding: 0 100px;
  padding-bottom: 50px;
}

.contact b {
  color: var(--text-color);
}

.footer {
  background-color: var(--primary-color);
  border-top: 1px rgb(255, 87, 0) solid;
  margin-top: 50px;
  align-items: flex-start;
}

.footer .grid {
  align-items: flex-start;
}

.footer ul {
  margin-bottom: 20px;
}

.footer .social a {
  margin: 0 10px;
}

@media (max-width: 790px) {

  .grid,
  .main .grid{
    grid-template-columns: minmax(0, 1fr);
    gap: 0px;
  }

  .intro {
    grid-column: 1;
  }


  .header .container {
    height: 400px;
  }

  .header img {
    width: 100%;
  }

  .title {
    font-size: 45px;
  }

  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
    overflow: visible;
  }

  .navbar ul {
    margin-left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
  }

  .main .container,
  .gallery-main .container {
    padding: 10px 10px;
  }
}

@media (max-width: 600px) {

.navbar .container{
  padding: 5px;
}

  .locations-main .grid,
  .contact .grid{
    grid-template-columns: minmax(0, 1fr);
    gap: 0px;
  }

  .locations-main .grid>*:first-child,
  .contact .container .grid>*:first-child {
    grid-column: 1;
  }

  .contact .card {
      padding: 0 10px;
      }

    .contact .container{
    margin: 1px;
  }

  .header .container {
    height: 250px;
  }

  .title {
    font-size: 30px;
  }

  .main .container,
  .gallery-main .container {
    padding: 5px 5px;
  }

  .p-5 {
    padding: 2rem;
  }
}

@media (max-width:305px) {
  .navbar .flex {
    overflow: visible;
  }

  .title {
    text-align: center;
    line-height: 1;
  }

  .main .container {
    margin-top: 35px;
  }
}
